.userpage-container {
  display: flex;
  min-height: 800px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.userpage-menubox {
  display: flex;
  height: 500px;
  width: 300px;
  border: 2px solid #dee2e6 !important;
  border-radius: 2rem;
  margin: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.userpage-menubox h3:hover {
  color: orange;
  cursor: pointer;
}

.userpage-itembox {
  margin: 50px;
  display: flex;

  min-height: 600px;
  width: 800px;
  border: 2px solid #dee2e6 !important;
  border-radius: 2rem;
}
