.useritems-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.useritems-cardwrapper {
  border: 2px solid #dee2e6 !important;
  border-radius: 1rem;
  margin: 10px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
}

.useritems-image img {
  height: 50px;
  width: 50px;
}

.useritems-desc {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.useritems-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.useritems-button button {
  width: 80px;
  height: 20px;
  border: none;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #131921;
  color: white;
  font-size: 12px;
}

.useritems-button button:hover {
  color: #cd9042;
  cursor: pointer;
}

.useritems-headname {
  font-size: 30px;
  margin: 30px;
  align-self: center;
}
